<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Source+Code+Pro:200,300,400,500,700');

	body {
		background-color: white !important;
		font-family: 'Roboto', sans-serif;
	}

</style>
<div class="folder-node">
	<div class="title">
		<span>Folder 001</span>
	</div>

	<span class="path">Path</span>
	<div class="details-wrapper">
		<span class="bar">black</span>
		<span class="bar">black</span>
		<span class="bar">bla</span>
	</div>
</div>
<script>
	launchPage();
	function launchPage() {
		// Remove splash screen
		var $preload = $('#preload');
		var $main = $('.main');

		$preload.hide().remove();
		$main.show('slow');
	}
</script>