<div class="main">
	<!-- TOP WRAPPER -->
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand" id="main-title">VISUAL PROGGER</li>
        <li id="secondary-title">
          <ul>
            <li>
              <span class="box-label">TIME: </span>
              <span class="data" id="timestamp">00 : 00 : 00</span>
            </li>
            <li style="margin-bottom: 10px">
              <span class="box-label">USER: </span>
              <span class="data">CLAIRE</span>
            </li>
          </ul>
        </li>
        <li id="suspect-files">
          <span class="heading">SUSPECTED FILES</span>
          <ul>
            <li class="head">
              <span>NAME</span>
              <span>POINTS</span>
            </li>
            <!--<li class="t-data red">-->
              <!--<span>Rundll32.exe</span>-->
              <!--<span class="score">32</span>-->
            <!--</li>-->
            <!--<li class="t-data blue">-->
              <!--<span>Sublime.exe</span>-->
              <!--<span class="score">32</span>-->
            <!--</li>-->
            <!--<li class="t-data blue">-->
              <!--<span>Chrome.exe</span>-->
              <!--<span class="score">32</span>-->
            <!--</li>-->
            <!--<li class="t-data blue">-->
              <!--<span>Word.exe</span>-->
              <!--<span class="score">32</span>-->
            <!--</li>-->
            <!--<li class="t-data blue">-->
              <!--<span>Dota2.exe</span>-->
              <!--<span class="score">32</span>-->
            <!--</li>-->
          </ul>
        </li>
        <li id="blank">

        </li>
      </ul>
    </div>
  </div>
	<!-- END TOP WRAPPER -->
	<!-- GRAPHIC CONTAINER -->
	<div class="wrap" style="position: relative">
		<div id="graphic-container">

		</div>
	</div>
	<!-- END CONTAINER -->
	<!-- BOTTOM WRAPPER -->
	<div class="bottom-wrapper">
    <div id="program-activity" class="bottom-content">
      <span class="heading"><span id="selected">PROGRAM</span><span class="second-word"> ACTIVITY</span></span>
      <div style="margin-top: 5px; border-bottom: 2px solid rgba(131, 240, 220, 0.5);"></div>
      <div class="table-wrapper">
        <div class="table-scroll">
          <table style="margin-top: 5px;">
            <thead>
            <tr>
              <th class="table-time"><span class="table-head">TIME</span></th>
              <th class="table-process"><span class="table-head">PROCESS</span></th>
              <th class="table-action"><span class="table-head">ACTION</span></th>
              <th class="table-directory"><span class="table-head">DIRECTORY</span></th>
            </tr>
            </thead>
            <tbody>
            <!--<tr>-->
            <!--<td class="table-time">10 : 00</td>-->
            <!--<td class="table-process">Rundll32.exe</td>-->
            <!--<td class="table-action"><span class="blue-label">Read</span></td>-->
            <!--<td class="table-directory">/Users/windows</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="table-time">10 : 00</td>-->
            <!--<td class="table-process">Rundll32.exe</td>-->
            <!--<td class="table-action"><span class="yellow-label">Write</span></td>-->
            <!--<td class="table-directory">/Users/windows</td>-->
            <!--</tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="affected-folders" class="bottom-content">
      <span class="heading">AFFECTED <span class="second-word">FOLDERS</span></span>
      <div style="margin-top: 5px; border-bottom: 2px solid rgba(131, 240, 220, 0.5);"></div>
      <div class="table-wrapper">
        <div class="table-scroll">
          <table style="margin-top: 5px;">
            <thead>
            <tr>
              <th class="table-original"><span class="table-head">FOLDERS</span></th>
              <th class="table-modified"><span class="table-head">FILES</span></th>
              <!--<th class="table-result"><span class="table-head">RESULT</span></th>-->
            </tr>
            </thead>
            <tbody>
            <!--<tr>-->
              <!--<td class="table-original">My Family.png</td>-->
              <!--<td class="table-modified">A9sdad0sd8ads89dsdh.locky</td>-->
              <!--<td class="table-result"><span class="custom-label red-label">Encrypted</span></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="table-original">My Family.png</td>-->
              <!--<td class="table-modified">A9sdad0sd8ads89dsdh.locky</td>-->
              <!--<td class="table-result"><span class="custom-label red-label">Encrypted</span></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="table-original">My Family.png</td>-->
              <!--<td class="table-modified">A9sdad0sd8ads89dsdh.locky</td>-->
              <!--<td class="table-result"><span class="custom-label red-label">Encrypted</span></td>-->
            <!--</tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
		<div id="selected-files" class="bottom-content">
			<span class="heading">AFFECTED <span class="second-word">FILES </span><span class="affected-file"></span></span>
			<div style="margin-top: 5px; border-bottom: 2px solid rgba(131, 240, 220, 0.5);"></div>
			<div class="table-wrapper">
				<div class="table-scroll">
					<table style="margin-top: 5px;">
						<thead>
						<tr>
							<th class="table-original"><span class="table-head">TIME</span></th>
							<th class="table-action"><span class="table-head">ACTION</span></th>
							<!--<th class="table-result"><span class="table-head">RESULT</span></th>-->
						</tr>
						</thead>
						<tbody>
						<!--<tr>-->
						<!--<td class="table-original">My Family.png</td>-->
						<!--<td class="table-modified">A9sdad0sd8ads89dsdh.locky</td>-->
						<!--<td class="table-result"><span class="custom-label red-label">Encrypted</span></td>-->
						<!--</tr>-->
						<!--<tr>-->
						<!--<td class="table-original">My Family.png</td>-->
						<!--<td class="table-modified">A9sdad0sd8ads89dsdh.locky</td>-->
						<!--<td class="table-result"><span class="custom-label red-label">Encrypted</span></td>-->
						<!--</tr>-->
						<!--<tr>-->
						<!--<td class="table-original">My Family.png</td>-->
						<!--<td class="table-modified">A9sdad0sd8ads89dsdh.locky</td>-->
						<!--<td class="table-result"><span class="custom-label red-label">Encrypted</span></td>-->
						<!--</tr>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
  </div>
	<!-- END WRAPPER -->
</div>
<script type="text/javascript" src="/vendor/threejs/three.js"></script>
<script type="text/javascript" src="/vendor/threejs/OrbitControls.js"></script>
<script type="text/javascript" src="/vendor/threejs/stats.js"></script>
<script type="text/javascript" src="/vendor/threejs/CSS3DRenderer.js"></script>
<script type="text/javascript" src="/vendor/threejs/CanvasRenderer.js"></script>
<script type="text/javascript" src="/vendor/threejs/Projector.js"></script>
<script type="text/javascript" src="/vendor/threejs/tween.min.js"></script>
<script type="text/javascript" src="/js/objects.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/visual.js"></script>
