<div class="main">
	<div class="main-header">
		<span class="logo">
			<img src="/img/logo.png" alt="">
		</span>
		<span class="wrap">
			File:
			<span class="time">
				0000000
			</span>
		</span>
		<span class="title">
			<img src="/img/title.png" alt="">
		</span>
	</div>
	<div id="graphic-container"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<script type="text/javascript" src="/vendor/threejs/three.js"></script>
<script type="text/javascript" src="/vendor/threejs/OrbitControls.js"></script>
<script type="text/javascript" src="/vendor/threejs/TrackballControls.js"></script>
<script type="text/javascript" src="/vendor/threejs/EffectComposer.js"></script>
<script type="text/javascript" src="/vendor/threejs/RenderPass.js"></script>
<script type="text/javascript" src="/vendor/threejs/ShaderPass.js"></script>
<script type="text/javascript" src="/vendor/threejs/CopyShader.js"></script>
<script type="text/javascript" src="/vendor/threejs/ThickLineShader.js"></script>
<script type="text/javascript" src="/vendor/threejs/stats.js"></script>
<script type="text/javascript" src="/vendor/threejs/CSS3DRenderer.js"></script>
<script type="text/javascript" src="/vendor/threejs/CanvasRenderer.js"></script>
<script type="text/javascript" src="/vendor/threejs/Projector.js"></script>
<script type="text/javascript" src="/vendor/threejs/tween.min.js"></script>
<script type="text/javascript" src="/js/objects.js"></script>
<script type="text/javascript" src="/js/live.js"></script>